nav {
  width: 100%;
  position: relative;
  height: 40px;
}
.scoial-icons {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 0%;
  right: 0%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.scoial-icons a {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.scoial-icons img {
  width: 30px;
  height: 30px;
}

.title {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #fbf9fa;
  padding-top: 2rem;
}

.title h1 {
  letter-spacing: 4px;
}

.title span {
  color: #fd0054;
}

.search {
  width: 80%;
  height: 70px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 641px;
  height: 65px;
  position: relative;
}

form .placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  font-size: 2rem;
  font-weight: 700;
  color: #2b2024;
  opacity: 0.15;
  pointer-events: none;
}

form input[type="text"] {
  width: 100%;
  height: 100%;
  background-color: #fbf9fa;
  border: 2px solid #707070;
  border-radius: 10px;
  outline: none;
  position: relative;
  padding-left: 1rem;
  font-size: 2rem;
}

form input[type="text"]:valid,
form input[type="text"]:focus {
  border: 1px solid #fd0054;
  padding-left: 1rem;
  font-size: 2rem;
}

form input:focus ~ .placeholder,
form input:valid ~ .placeholder {
  opacity: 0;
}

form img {
  position: absolute;
  width: 62px;
  height: 62px;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
}

.main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30rem;
  background-color: #fd0054;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(253, 0, 84, 0.16);
  display: flex;
  margin: 1rem;
}

.card .channel-image {
  width: 60px;
  height: 60px;
  margin: 1rem;
}

.card .channel-image img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.card .info {
  width: 80%;
  height: 100%;
  position: relative;
}

.card .info .channel-title {
  margin: 1rem 1rem 0.5rem 0;
  color: #2b2024;
  font-weight: 700;
  font-size: 1.2rem;
}

.card .info .desc {
  color: #fbf9fa;
  font-size: 1rem;
  display: block;
  margin-bottom: 4rem;
}

.card .info .links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.card #link {
  color: #fbf9fa;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3rem;
  font-style: italic;
  width: fit-content;
}

.card #link:hover {
  text-decoration: underline;
}

.loading {
  font-size: 2rem;
  margin-top: 2rem;
  color: #fbf9fa;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .card .info .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    position: unset;
  }

  .card .info .links > a {
    margin: 0.5rem;
  }
}

/* Videos component */

.videos {
  width: 100%;
  text-align: center;
  position: relative;
}
.videos #back {
  position: absolute;
  top: 1.5%;
  left: 1%;
}

.videos #back > #arrow-back {
  width: 64px;
  height: 64px;
  transform: rotate(90deg);
}

/* videos component -> top-content */

.videos .top-content {
  width: 80%;
  margin: auto;
}

.videos .top-content .author {
  font-size: 5rem;
  padding-top: 1rem;
  color: #fbf9fa;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.videos .links span,
.videos .links #link {
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  color: #fbf9fa;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.videos .links #link.active {
  color: #fd0054;
}

.videos .links #link:hover {
  color: #fd0054;
}

/* videos component -> main-content */

.videos .main-content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.videos .main-content .video-card {
  width: 23%;
  display: flex;
  flex-direction: column;
  background-color: #fd0054;
  border-radius: 10px 10px 5px 5px;
  margin: 1rem;
}

.videos .main-content .video-card .video-image {
  width: 100%;
  height: 100%;
}

.videos .main-content .video-card .video-image > a {
  display: block;
  width: 100%;
  height: 100%;
}

.videos .main-content .video-card .video-image a > img {
  width: inherit;
  height: inherit;
  border-radius: 5px 5px 0 0;
}

.videos .main-content .video-card .video-info {
  width: 100%;
  border: 2px solid #fbf9fa;
  margin-top: -0.3rem;
  border-radius: 0 0 5px 5px;
  color: #fbf9fa;
}

.videos .main-content .video-card .video-info .video-title {
  font-size: 1.2rem;
  margin: 0.2rem auto;
  font-weight: 700;
}

.videos .main-content .video-card .video-info .video-desc {
  font-size: 0.9rem;
  padding-bottom: 0.6rem;
}
